body {
    background-color: #3aafa9;
}

#side-navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2b7a78;
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
    transition: 0.5s;
}
#side-navigation a {
  padding: 6px 8px 6px 16px;
  font-size: 25px;
  color: #17252a;
  display: block;
  text-decoration: none;
  transition: 0.3s;
}

#side-navigation a:hover {
    color: #feffff;
}

#top-span {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.main-content {
    top: 0;
    height: 90%;
    background-color: #3aafa9;
    color: #17252a;
    font-family: 'Oswald', sans-serif;
    overflow-y: scroll;
    margin: auto;
}

#typewriter {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
  text-align: center;
}

/* Animation */
#typewriter {
  animation: animated-text 4s steps(29) 1s 1 normal both,
             animated-cursor 600ms steps(29) infinite;
}

/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */
@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

img:hover {
    opacity: 0.5;
}

.my-slides {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.my-slides img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  width: 100%;
  display: inline-block;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.active {
  background-color: aliceblue;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.fa-github-square {
  color: rgba(255,255,255,.70);
}

.fa-linkedin-square {
  color: rgba(255, 255, 255, .70);
}

.comment {
  border: 1px solid black;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 500px;
}